body {
  
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
    font-family: Arial, sans-serif;
    padding: 20px;

}

.image {
    display: flex;
    position: absolute; 
    top: 10px;
    right: 10px; 
    max-width: 150px; 
    height: auto; 
    z-index: 100; 
}

table {
    display: flex;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center; 
}

th a {
    padding: 10px 20px;
    display: flex;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

th a:hover {
    background-color: #0056b3;
}

h1, h2, h3 {
    text-align: center; 
}

#lab1-details, #lab2-details, #lab3-details, #lab4-details, #lab5-details, #lab6-details,#lab7-details,#lab8-details {
    margin-top: 20px;
    text-align: center; 
}

#lab1-details button, #lab2-details button,  #lab3-details button, #lab4-details button, #lab5-details button,#lab6-details button,#lab7-details button,#lab8-details button{
    margin: 5px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lab1-details button:hover, #lab2-details button:hover,#lab3-details button:hover, #lab4-details button:hover, #lab5-details button:hover,#lab6-details button:hover,#lab7-details button:hover,#lab8-details button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#content {
    
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 400px;
    padding: 15px;
    max-width: 1000px;
    text-align: center;

}


