body{
    box-sizing: content-box;
    box-sizing: border-box;
    padding: 1px;
}
h1{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    padding-left: 40%;
}
h2{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    padding-left: 30%;
}
h3{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    padding-left: 39%;
}
.button {
    box-sizing: border-box;
    text-decoration: none;
    margin: 1%;
    padding: 1%;

}

table{
    box-sizing: border-box;
    width: 70%;
    margin: 5% auto;
    border-collapse: collapse;
}
th,td{
    box-sizing: border-box;
    border: 1px solid salmon;
    padding: 2%;
    text-align: center;
    background-color: rgb(80, 150, 150);
    border-radius: 10px;
    border-style: hidden;
}
pre{
    text-align: center;
    font-size: large;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

