body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

th a {
    padding: 10px 20px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

th a:hover {
    background-color: #0056b3;
}

#lab1-details{
    margin-top: 20px;
}

#lab1-details button {
    margin: 5px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lab2-details button:hover {
    background-color: #218838;
}
#lab2-details{
    margin-top: 20px;
}

#lab2-details button {
    margin: 5px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lab2-details button:hover {
    background-color: #218838;
}
.hidden {
    display: none;
}
.hidden1 {
    display: none;
}
#content {
    margin-top: 20px;
    padding: 15px;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
}
